@using MyCookbook.Web.ViewModels.Users.Cooked
@using MyCookbook.Web.ViewModels.Partials
@model UsersCookedViewModel

@{
    this.ViewData["Title"] = "Сготвени рецепти";
    var listRecipesPartialViewModel = new ListRecipesPartialViewModel { Recipes = Model.Recipes };
}

<div class="text-center text-primary">
    <h2>@this.ViewData["Title"] <i class="fas fa-check fa-2x" style="color:limegreen"></i></h2>
</div>
<hr class="border" />
<partial name="_ListRecipesPartial" model="@listRecipesPartialViewModel" />