@using MyCookbook.Web.ViewModels.Categories.ByName
@using MyCookbook.Web.ViewModels.Partials
@model CategoryByNameViewModel

@{
    this.ViewData["Title"] = Model.Name;
    var listRecipesPartialViewModel = new ListRecipesPartialViewModel { Recipes = Model.Recipes };
}

<div class="row mb-4">
    <div class="col-md-8">
        <h2>Категория: @this.ViewData["Title"]</h2>
    </div>
    <div class="col-md-4">
        <a asp-controller="Categories" asp-action="All"><i class="fas fa-hand-point-right fa-2x"></i>&nbsp; виж всички категории</a>
    </div>
</div>

<hr class="border" />
<partial name="_ListRecipesPartial" model="@listRecipesPartialViewModel" />