@using MyCookbook.Web.ViewModels.Cuisines.ByName
@using MyCookbook.Web.ViewModels.Partials
@model CuisineByNameViewModel

@{
    this.ViewData["Title"] = Model.Name;
    var listRecipesPartialViewModel = new ListRecipesPartialViewModel { Recipes = Model.Recipes };
}

<div class="row mb-4">
    <div class="col-md-8">
        <div class="media">
            <img height="45" width="70" class="align-self-center mr-3" src="@Model.ImageUrl" alt="знаме">
            <div class="media-body">
                <h4 class="font-weight-bold">@Model.Name</h4>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <a asp-controller="Cuisines" asp-action="All"><i class="fas fa-hand-point-right fa-2x"></i>&nbsp; виж всички Национални кухни</a>
    </div>
</div>

<hr class="border" />
<partial name="_ListRecipesPartial" model="@listRecipesPartialViewModel" />