<div class="text-center text-primary">
    <h2>Възникна грешка!</h2>
    <img src="https://res.cloudinary.com/mycookbook/image/upload/v1588101726/76289acbe6c5a83ccf648702b7e8d3b9_yzu0c2.gif" width="450" />
</div>