@using MyCookbook.Web.ViewModels.Recipes.All
@using MyCookbook.Web.ViewModels.Partials
@model RecipeAllViewModel

@{
    this.ViewData["Title"] = "Всички рецепти";
    var listRecipesPartialViewModel = new ListRecipesPartialViewModel { Recipes = Model.Recipes };
}

<div class="row mb-4">
    <div class="col-md-8">
        <h2>Всичкки рецепти</h2>
    </div>
    <div class="col-md-4">
        <a asp-controller="Recipes" asp-action="Search"><i class="fas fa-search fa-2x"></i>&nbsp; Tърсене на рецепта</a>
    </div>
</div>
<partial name="_ListRecipesPartial" model="@listRecipesPartialViewModel" />
