@using MyCookbook.Web.ViewModels.Recipes.InputModels
@model RecipeCreateInputModel

@{
    var categories = Model.Categories.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
}

<form asp-controller="Recipes" asp-action="Create" class="form-control" method="post">
    <label asp-for="CategoryId"></label>
    <select asp-for="CategoryId" asp-items="categories" class="form-control"></select>
    <span asp-validation-for="CategoryId" class="text-danger"></span>
</form>