@using MyCookbook.Web.ViewModels.Administration.Cuisines.Create
@model CuisinesCreateInputModel

@{
    this.ViewData["Title"] = "Добавяне на национална кухня";
}

<div class="text-center">
    <h3>@this.ViewData["Title"]</h3>
</div>

<div class="text-danger">
    @ViewData["Error"]
</div>

<hr class="border" />
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form asp-area="Administration" asp-controller="Cuisines" asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Name"></label>
                <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="right" title="Полето е задължително!"></i>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="custom-file fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="Позволени формати: '.JPEG', '.JPG', '.PNG' до 5мб!">
                <input asp-for="ImageUrl" class="custom-file-input form-control" />
                <label asp-for="ImageUrl" class="custom-file-label form-control">
                    <span class="badge badge-light">
                        <i class="fas fa-cloud-upload-alt fa-2x"></i>
                    </span>
                    <span>
                        Качи снимка
                    </span>
                </label>
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="text-center">
                <input type="submit" value="Добави национална кухня" class="btn btn-primary btn-md" id="btnSubmit" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });

        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}